@font-face {
  font-family: XMAirbnb;
  src: url(Font/KFOlCnqEu92Fr1MmEU9fBBc4AMP6lQ.woff2) format("woff2");
}

@font-face {
  font-family: bookAirbnb;
  src: url(Font/Airbnb_Cereal-Book-9a1c9cca9bb3d65fefa2aa487617805e.woff2) format("woff2");
}

@font-face {
  font-family: regular;
  src: url(Font/Airbnb_Cereal-Medium-50fc004b3082375f12ff0cfb67bf8e56.woff2) format("woff2");
}

@font-face {
  font-family: boldFont;
  src: url(Font/Airbnb_Cereal-Bold-bdfb98485e7836ba31b456f65cded088.woff2) format("woff2");
}
body {
width: 100vw;
overflow-x: hidden;
padding: 0;
margin: 0;
box-sizing: border-box;
}
.header-container {
display: flex;
position: relative;
align-items: center;
padding-left: 40px;
padding-right: 40px;
height: 80px;
}
.hamburger,
.language,
.home,
.exp,
.stay,
.logo-name,
.plus-button {
cursor: pointer;
}
.left-header {
flex: 1;
}
.header-center {
display: flex;
align-items: center;
justify-content: center;
height: 80px;
padding: 0 24px;
flex: 1;
}
.stay, .exp{
background-color: transparent;
font-size: 16px;
flex-direction: column;
font-family:sans-serif;
font-weight: 500;
padding: 0;
padding: 10px 16px;
border: unset;
transition: 0.2s ease-in;
color: #b1aeae;
}
.stay, .exp:hover{
  color: #444242;
    background-color:#f2f1f1;
    border-radius: 22px;
}
.home {
text-decoration: none;
color: black;
padding: 12px;
}
.home:hover{
background-color: #EBEBEB;
border-radius: 22px;
}
.home-container {
margin-right: 8px;
}
.language {
padding: 12px;
}
.language:hover{
border-radius: 22px;
background-color: #EBEBEB;
}
.right-header {
display: flex;
justify-content: end;
align-items: center;
flex: 1;
}

.nav-menu{
  list-style-type: none;
  padding: 0px;
  margin: 0;
}
.nav-menu li{
  padding: 10px;
  font-size: 14px;
}
.nav-menu li:hover {
  background-color: #f1f1f1;
  border-radius: 4px;
}
hr {
  border: none;
  border-top: 1px solid #ddd;
  margin: 10px 0;
}
.dropdown-menu {
  position: absolute;
  top: 100%;
  right: 0;
  display: none;
  background-color: white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  z-index: 1000;
  width: 200px;
  padding: 10px;
}
.menu.active .dropdown-menu {
  display: block;
}
.avatar{
  width: 30px;
  height: 30px;
  color: #717171;
}

.hamburger {
display: flex;
height: 30px;
align-items: center;
gap: 10px;
border: 1px solid #ddd;
border-radius: 30px;
padding: 8px 8px 8px 14px;
position: relative;
transition: 0.2s ease-in-out;
}
.hamburger:hover{
  box-shadow: 0px 3px 7px 1px #d7cdcd;
}
.avatar,
.line {
height: 100%;
}
.line{
height: 16px;
width: 16px;
}
.search-box{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.search-bar{
  width: 848px;
  height: 66px;
  border: 0.5px solid #d4cfcf;
  border-radius: 40px;
  box-shadow: 0px 16px 32px rgba(0, 0, 0, 0.15), 0px 3px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  transition: all 0.2s;
  align-self: center;
}
.where-box{
  width:230px;
}
.where-box p, .where-box input{
  width: 218px;
}
.where-box input, .checkin-box input, .checkout-box input, .guests-box input{
  border: none;
  height: 20px;
  border-radius: 10px;
}
.where-box input:hover, .checkin-box input:hover, .checkout-box input:hover, .guests-box input:hover{
  background-color: #f2f1f1;
}
input:focus{
  border: none;
  outline: none;
}
.checkin-box{
  width: 140px;
}
.checkin-box p,.checkin-box input{
  width: 92px;
}

.checkout-box{
  width:140px;
}
.checkout-box p,.checkout-box input{
  width: 92px;
}

.guests-box{
  border-radius: 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.guests-box p,.guests-box input{
  width: 183px;
}
.where,.checkin,.checkout,.who{
  font-size: 14px;
  font-weight: 700;;
}
.search-item{
  padding: 12px 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  
}
.search-item p{
  margin: 0;
}
.search-item input{
  background-color: transparent;
}
.search-item:hover, .guests-box:hover{
  background-color: #f2f1f1;
  border-radius: 32px;
  cursor: pointer;
}
.search-bt{
  padding-right: 9px;
  
}
.search-button{
  width: 48px;
  height: 48px;
  background-color: #FF5A5F;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s ease-in;
  z-index: 0;
}
.search-button:hover {
  background-color: #fa2229;
  cursor: pointer;
}
.who-menu{
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  z-index: 1;
  background: #FFFFFF;
  border-radius: 32px ;
  box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.2);
  margin-top: 12px ;
  max-height: calc(100vh - 220px) ;
  overflow-x: hidden ;
  overflow-y: auto ;
  padding: 16px 32px ;
}
.who-menu.active{
  display: block;
}
.plus-button:hover{
  color: #222222;
  border-color: #222222;
  background: white;
}
.age{
  border-bottom: 1px solid #ebebeb
}
.icon-section {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
  width: 80%;
  overflow: hidden;
}

.icon-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 5px;
  cursor: pointer;
  transition: transform 0.2s ease;
  color: grey;
}

.icon-item:hover {
  transform: scale(1.1);
}

.icon {
  width: 24px;
  height: 24px;
  margin-bottom: 5px;
}

.icon-text {
  font-size: 12px;
}
.filter-button{
  padding: 7px 0;
}
.filter-icon{
  display: flex;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
  gap: 10px;
  border: 1px solid;
  padding: 2px 16px 0 16px;
}
.category-icon{
display: flex;
justify-content: space-around;
align-items: center;
padding-top: 12px;
}
